.page {
  .title {
    font-size: 24px;
  }
  .list {
    list-style: none;
    width: 90%;

    .item {
      display: inline-block;
      margin: 5px;

      .link {
        color: #fff;
      }
    }
  }
}
